snippet cm "Comment Section" b
/* ${0} */
endsnippet

snippet ncm "Funcation Comment Section" b
/* ${0}: <++> */
endsnippet

snippet todo "TODO Comment Section" b
/* TODO: ${0}  */
endsnippet

snippet main "make a int main" b
int main() {
  ${0:type} <++> = <++>;
  return 0;
}
endsnippet

snippet func "make a new funcation" 
${0:type} <++>(<++> <++>)<++>
endsnippet

