snippet cm "annotation" b
// ${1:funcname}: ${2:content}
endsnippet

snippet for "for range" b
for ${1:key}, ${2:value} := range ${3:target}{
	${4}
}
endsnippet

snippet funs "func method" b
func (${1}) ${2}(${3}) ${4}{
	${5}
}
endsnippet
