snippet cm "Comment Section" b
/* ${0} */
endsnippet

snippet ncm "Funcation Comment Section" b
/* ${1:name}: ${2:content} */
endsnippet

snippet todo "TODO Comment Section" b
/* TODO: ${2:content} */
endsnippet

snippet main "int main" b
int main() {
  ${1:type} ${2:variable} = ${3:value};
  return 0;
}
endsnippet

snippet func "make a new funcation" 
${1:type} ${2:func}(${3:type} ${4:parameter})${5:;}
endsnippet

